.container-input {
    display: flex;
    flex-direction: column;
}
.container-input label {
    margin: 2% 0px;
}
.container-input input {
    width: 92%;
    font-size: 1rem;
    padding: 0.7rem 3.2%;
    border-radius: 3px;
    border: 2px solid rgb(206, 212, 218);
}
.container-input .required {
    color: rgb(201, 59, 89);
    margin-left: 0.25rem;
}