.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    min-width: 290px;
    padding: 10px 0px;
    background-color: #E4E6E7;
    display: none;
}
.footer .lista-icones {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}
.footer .lista-icones li {
    text-transform: lowercase;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.footer .lista-icones li img {
    width: 18px;
}
@media (max-width: 720px) {
    .footer {
        display: flex;
    }
}